.myBestProjects {
    background-image: url("../img/code-image.webp");
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.myBlog {
    background-image: url("../img/typing.webp");
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.myStory {
    background-image: url("../img/story2.jpg");
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.filter {
    background-color: rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

